.idea/
_pycache_/
*.pyc

# dataset temporary files
*.tmp

#model weights
*.pth

# ROS2
build/
install/
log/

#Python
.venv/
venv/
*.egg-info/

#OS
.DS_Store

yolo_env/
runs/
_pycache_/

dataset/images/
dataset/labels/
dataset_3class/images/
dataset_3class/labels/

dataset/
dataset_*/
runs/
*.zip
*.tar.gz
_pycache_/
.DS_Store

#YOLO catch files
*.cache

#officialm weights
yolo11n.pt
yolo11s.pt
yolov8n.pt
